@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
$primary-color: #F96332;
$info-color: #2CA8FF;
$success-color: #18CE0F;
$warning-color: #FFB236;
$danger-color: #FF3636;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    li {
        list-style: none;
    }
}

body {
    font-family: 'Montserrat', sans-serif;
    line-height: 1.8;
}

.navbar {
    background-color: $primary-color;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 10%;

    .navbar-list {
        .list-item {
            display: inline-block;
            padding: 10px 20px;
        }
    }
}