@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul li {
  list-style: none;
}

a {
  text-decoration: none;
}

.container {
  margin: 130px 10%;
}

.header-center {
  text-align: center;
  text-transform: uppercase;
  margin: 40px 0;
}

.cards-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.card {
  height: 18em;
  width: 14em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  position: relative;
  -webkit-transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  -o-transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  border-radius: 16px;
  overflow: hidden;
  -webkit-box-shadow: 15px 15px 27px #e1e1e3, -15px -15px 27px #ffffff;
  box-shadow: 15px 15px 27px #e1e1e3, -15px -15px 27px #ffffff;
}

.minus-icon {
  display: none;
}

.alert-danger {
  background-color: #ff3636;
  padding: 10px 2%;
  color: #f4f4f4;
}

.alert-warning {
  background-color: #ffb236;
  padding: 10px 2%;
  color: white;
  transition: 0.2s ease-in-out 1s;
  margin: 20px 0;
}

.btn-outline-default {
  cursor: pointer;
  border: 1px solid #f96332;
  padding: 10px 18px;
  text-transform: uppercase;
  background-color: transparent;
  color: #ffffff;
}
.btn-outline-default:hover {
  background-color: #f96332;
  transition: 0.4s;
}

.form-inline {
  display: flex;
  align-items: flex-end;
}
.form-inline .form-group label {
  display: block;
  text-transform: uppercase;
  font-size: 12px;
  margin-bottom: 5px;
}
.form-inline .form-group select,
.form-inline .form-group .input-date {
  padding: 10px 18px;
  margin-right: 5px;
  border: none;
  border-radius: 30px;
  outline: none;
}
.form-inline .form-group select:focus,
.form-inline .form-group .input-date:focus {
  box-shadow: 0 0 3px 2px #f96332;
}

.btn-default-lg {
  cursor: pointer;
  border: none;
  outline: none;
  padding: 15px 25px;
  background-color: #f96332;
  color: white;
  margin: 20px 0;
}

.btn-default-md {
  cursor: pointer;
  border: none;
  outline: none;
  padding: 10px 20px;
  background-color: #f96332;
  color: white;
  margin: 20px 0;
}

body {
  font-family: "Montserrat", sans-serif;
  line-height: 1.8;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 10%;
  transition: 0.4s;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}
nav .navbar-brand .brand-title {
  color: #ffffff;
  font-size: 12px;
  text-transform: uppercase;
}
nav .navbar-right .navbar-list {
  display: inline-block;
  padding: 10px 20px;
}
nav .navbar-right .navbar-list .navbar-link {
  text-transform: uppercase;
  font-size: 12px;
  color: #ffffff;
  padding: 10px 16px;
}
nav .navbar-right .navbar-list .navbar-link:hover {
  background-color: #f96332;
  border-radius: 5px;
}

.nav2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 10%;
  transition: 0.4s;
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #f96332;
  z-index: 1;
}
.nav2 .navbar-brand .brand-title {
  color: #ffffff;
  font-size: 12px;
  text-transform: uppercase;
}
.nav2 .navbar-right .navbar-list {
  display: inline-block;
  padding: 10px 20px;
}
.nav2 .navbar-right .navbar-list .navbar-link {
  text-transform: uppercase;
  font-size: 12px;
  color: #ffffff;
  padding: 10px 16px;
}
.nav2 .navbar-right .navbar-list .navbar-link:hover {
  background-color: #f96332;
  border-radius: 5px;
}

.hero-image {
  background-image: linear-gradient(rgba(139, 0, 0, 0.7), rgba(220, 20, 60, 0.4)), url("../Images/balazs-busznyak-El5zuQAtfeo-unsplash.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 100vh;
}
.hero-image .hero-image-content {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.hero-image .hero-image-content .hero-position {
  color: white;
  width: 40% auto;
}
.hero-image .hero-image-content .hero-position h1 {
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 10px;
}
.hero-image .hero-image-content .hero-position h2 {
  text-transform: capitalize;
  text-align: center;
  margin-bottom: 20px;
}

.home-station-section .station-section-header {
  margin-bottom: 40px;
  text-transform: uppercase;
}
.home-station-section .station-section-header h1 {
  text-align: center;
}
.home-station-section .station-image {
  height: 6em;
  width: 14em;
  padding: 1em 2em;
  position: Absolute;
  top: 0px;
  -webkit-transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  -o-transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
}
.home-station-section .station-image:hover .property-description {
  height: 0em;
  padding: 0px 1em;
}
.home-station-section .station-description {
  background-color: #fafafc;
  height: 12em;
  width: 14em;
  position: absolute;
  bottom: 0em;
  -webkit-transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  -o-transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  padding: 0.5em 1em;
  text-align: center;
}

.banner-full-width {
  margin-bottom: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 60px 20%;
  background-image: linear-gradient(to right, darkred, rgba(220, 20, 60, 0.1)), url("../Images/jk-gJhev0YgUcE-unsplash.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}
.banner-full-width h2 {
  color: #ffffff;
}
.banner-full-width span {
  background-color: #f96332;
  padding: 2px;
}

.steps-section .steps-header {
  margin: 40px 0;
  text-align: center;
}
.steps-section .steps-header h1 {
  text-transform: uppercase;
}
.steps-section .steps-body {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.steps-section .card-header {
  text-align: center;
  padding: 20px;
}
.steps-section .card-header .search-icon {
  background-color: #f96332;
  display: inline-block;
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
}
.steps-section .card-header h5 {
  text-transform: capitalize;
  margin-top: 15px;
}

footer {
  background-color: #333;
  padding: 20px;
  text-align: center;
}
footer p {
  color: #a1a1a1;
}
footer p .social-icons {
  color: #a1a1a1;
  padding-right: 15px;
}

.all-stations-section {
  margin-top: 160px;
}
.all-stations-section .all-stations-header {
  margin: 50px 0;
  text-align: center;
}
.all-stations-section .cards-row .card {
  margin-bottom: 80px;
}

.comment-section .comment-body .comment-body-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.comment-section .comment-body .comment-body-header .display-post {
  background-color: #f96332;
  border: none;
  outline: none;
  cursor: pointer;
  color: white;
  padding: 10px 20px;
}
.comment-section .comment-body .comment-body-header .display-post .minus-icon {
  display: none;
}
.comment-section .comment-body .form-comment-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}
.comment-section .comment-body .form-comment-wrapper .comment-form {
  display: none;
  width: 40%;
  padding: 20px 30px;
  margin: 40px 0;
  width: 40% auto;
  transition: 0.2s ease-in 1s;
}
.comment-section .comment-body .form-comment-wrapper .comment-form input {
  width: 100%;
  padding: 10px 18px;
  margin: 20px 0;
  border: 1px solid #e1e1e1;
  border-radius: 30px;
  outline: none;
  display: block;
}
.comment-section .comment-body .form-comment-wrapper .comment-form input:focus {
  border: 1px solid #f96332;
}
.comment-section .comment-body .form-comment-wrapper .comment-form textarea {
  margin-bottom: 20px;
  resize: none;
  border: 1px solid #e1e1e1;
  outline: none;
  height: 100px;
  width: 100%;
  display: block;
  padding: 10px 5%;
}
.comment-section .comment-body .form-comment-wrapper .comment-form textarea:focus {
  border: 1px solid #f96332;
}
.comment-section .comment-body .form-comment-wrapper .comment-form button {
  display: block;
  width: 100%;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 10px 30px;
  background-color: #f96332;
  color: white;
}
.comment-section .comment-body .comment-wrapper {
  margin: 40px 0;
}
.comment-section .comment-body .comment-wrapper .media {
  margin: 0 15%;
  display: flex;
}
.comment-section .comment-body .comment-wrapper .media img {
  margin-right: 2%;
}
.comment-section .comment-body .comment-wrapper .media .media-body {
  width: 100%;
}
.comment-section .comment-body .comment-wrapper .media .media-body h5 .media-name {
  margin-right: 10px;
}
.comment-section .comment-body .comment-wrapper .media .media-body h5 .text-muted {
  color: #b4b4b4;
}
.comment-section .comment-body .comment-wrapper .media .media-body .comment-reply input {
  width: 100%;
  padding: 10px 18px;
  margin: 20px 0;
  border: 1px solid #e1e1e1;
  border-radius: 30px;
  outline: none;
  display: block;
}
.comment-section .comment-body .comment-wrapper .media .media-body .comment-reply input:focus {
  border: 1px solid #f96332;
}
.comment-section .comment-body .comment-wrapper .media .media-body .media-tools .text-muted {
  margin-right: 10px;
  color: #b4b4b4;
  cursor: pointer;
}
.comment-section .comment-body .comment-wrapper .media .media-body .media-tools .text-muted .agree:hover {
  color: #f96332;
}
.comment-section .comment-body .comment-wrapper .media .media-body .media-tools .text-muted .disagree:hover {
  color: #ff3636;
}

.display-comment-form .comment-form {
  display: block;
}
.display-comment-form .comment-form .minus-icon {
  display: block;
}
.display-comment-form .comment-form .plus-icon {
  display: none;
}

.search-wrapper .user-search-info {
  margin-bottom: 20px;
}
.search-wrapper .user-search-info h4 {
  margin: 10px 0;
}
.search-wrapper .user-search-info span {
  margin-right: 10%;
}
.search-wrapper .modify-search .form-section .heading-row {
  background-color: yellowgreen;
  margin: 20px 0;
  padding: 20px 2%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.search-wrapper .modify-search .form-section .form-bordered {
  display: none;
  background-color: #2ca8ff;
  padding: 20px 10%;
  justify-content: space-between;
  transition: 0.4s ease-out 1s;
  margin-bottom: 20px;
}
.search-wrapper .modify-search .form-section .form-bordered .form-group label {
  display: block;
}
.search-wrapper .modify-search .form-section .form-bordered .form-group select,
.search-wrapper .modify-search .form-section .form-bordered .form-group .input-date {
  border: 1px solid #e1e1e1;
}
.search-wrapper .train-info {
  text-align: center;
}
.search-wrapper .train-info .train-info-body {
  display: flex;
  justify-content: space-between;
  padding: 0 15%;
  line-height: 3;
  text-align: start;
}
