@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul li {
  list-style: none;
}

a {
  text-decoration: none;
}

.container {
  margin: 100px 15%;
}

.card {
  height: 18em;
  width: 14em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  position: relative;
  -webkit-transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  -o-transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  border-radius: 16px;
  overflow: hidden;
  -webkit-box-shadow: 15px 15px 27px #e1e1e3, -15px -15px 27px #ffffff;
  box-shadow: 15px 15px 27px #e1e1e3, -15px -15px 27px #ffffff;
}

.btn-outline-default {
  cursor: pointer;
  border: 1px solid #f96332;
  padding: 10px 18px;
  text-transform: uppercase;
  background-color: transparent;
  color: #ffffff;
}
.btn-outline-default:hover {
  background-color: #f96332;
  transition: 0.4s;
}

body {
  font-family: "Montserrat", sans-serif;
  line-height: 1.8;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 10%;
  transition: 0.4s;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}
nav .navbar-brand .brand-title {
  color: #ffffff;
  font-size: 12px;
  text-transform: uppercase;
}
nav .navbar-right .navbar-list {
  display: inline-block;
  padding: 10px 20px;
}
nav .navbar-right .navbar-list .navbar-link {
  text-transform: uppercase;
  font-size: 12px;
  color: #ffffff;
  padding: 10px 16px;
}
nav .navbar-right .navbar-list .navbar-link:hover {
  background-color: #f96332;
  border-radius: 5px;
}

.hero-image {
  background-image: linear-gradient(rgba(139, 0, 0, 0.7), rgba(220, 20, 60, 0.4)), url("../Images/balazs-busznyak-El5zuQAtfeo-unsplash.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 100vh;
}
.hero-image .hero-image-content {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.hero-image .hero-image-content .hero-position {
  color: white;
  width: 40% auto;
}
.hero-image .hero-image-content .hero-position h1 {
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 10px;
}
.hero-image .hero-image-content .hero-position h2 {
  text-transform: capitalize;
  text-align: center;
  margin-bottom: 20px;
}
.hero-image .hero-image-content .hero-position .form-search-train {
  display: flex;
  align-items: flex-end;
}
.hero-image .hero-image-content .hero-position .form-search-train .form-group label {
  display: block;
  text-transform: uppercase;
  font-size: 12px;
  margin-bottom: 5px;
}
.hero-image .hero-image-content .hero-position .form-search-train .form-group select,
.hero-image .hero-image-content .hero-position .form-search-train .form-group .input-date {
  padding: 10px 18px;
  margin-right: 5px;
  border: none;
  border-radius: 30px;
  outline: none;
}
.hero-image .hero-image-content .hero-position .form-search-train .form-group select:focus,
.hero-image .hero-image-content .hero-position .form-search-train .form-group .input-date:focus {
  box-shadow: 0 0 3px 2px #f96332;
}

.home-station-section .station-section-header {
  margin-bottom: 40px;
  text-transform: uppercase;
}
.home-station-section .station-section-header h1 {
  text-align: center;
}
.home-station-section .station-cards-row {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.home-station-section .station-image {
  height: 6em;
  width: 14em;
  padding: 1em 2em;
  position: Absolute;
  top: 0px;
  -webkit-transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  -o-transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
}
.home-station-section .station-image:hover .property-description {
  height: 0em;
  padding: 0px 1em;
}
.home-station-section .station-description {
  background-color: #fafafc;
  height: 12em;
  width: 14em;
  position: absolute;
  bottom: 0em;
  -webkit-transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  -o-transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  padding: 0.5em 1em;
  text-align: center;
}

.banner-full-width {
  margin-bottom: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 60px 20%;
  background-image: linear-gradient(to right, darkred, rgba(220, 20, 60, 0.1)), url("../Images/jk-gJhev0YgUcE-unsplash.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}
.banner-full-width h2 {
  color: #FFFFFF;
}
.banner-full-width span {
  background-color: #f96332;
  padding: 2px;
}

.steps-section .steps-header {
  margin: 40px 0;
  text-align: center;
}
.steps-section .steps-header h1 {
  text-transform: uppercase;
}
.steps-section .steps-body {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.steps-section .card-header {
  text-align: center;
  padding: 20px;
}
.steps-section .card-header .search-icon {
  background-color: #f96332;
  display: inline-block;
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
}
.steps-section .card-header h5 {
  text-transform: capitalize;
  margin-top: 15px;
}

footer {
  background-color: #333;
  padding: 20px;
  text-align: center;
}
footer p {
  color: #a1a1a1;
}
footer p .social-icons {
  color: #a1a1a1;
  padding-right: 15px;
}
